<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <center>
            <h2>Autorizar el siguiente Documento</h2>
            <form action="">
                <input onclick="" style="background-color:#4CAF50;border:none;color: white;padding:10px 20px;margin-bottom:10px" type="button" onclick="myFunction()">Autorizar Documento
            </form>
            <!-- <iframe src="http://localhost:3977/api/docs-register/get-document/${docFind?.images_path}" width="95%" height="680px"></iframe> -->
        </center>
    </div>
</body>
<script>
</script>

</html>